{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>{{diary.prefecture}}</h2>
    <p>[旅行日]  {{diary.start_date}} ～ {{diary.end_date}}</p>
    <p>[メモ]  {{diary.memo}}</p>
    {% for album in album_list %}
    <a href="{% url 'photo-list' album.diary.pk album.pk %}">{{ album.location }}</a>
    <a href="{% url 'album-delete' album.diary.pk album.pk %}">削除</a>
    <br>
    {% endfor %}
    <h4 class="mt-3">アルバム追加</h4>
    <form action="{% url 'album-add' diary.pk %}" method="post">
     {% csrf_token %}
      {{ album_add }}
    <div class="mt-2">
      <button type="submit">追加</button>
    </div>
  </form>
  <br>
  <a href="{% url 'diary-delete' diary.pk %}">△アルバム削除</a>
  <a href="{% url 'diary-edit' diary.pk %}">編集</a>
</div>


{% endblock %}