{% extends 'base.html' %}

{% block content %}
<div class="text-left m-3" >
    <h1>{{User.username}}</h1>
    <p><a href="{% url 'following-list' User.pk %}">フォロー中</a>　　　<a href="">フォロワー</a></p>
    <p></p>
</div>
{% for following in login_user_information.following.all %}
    {% if following == User %}
        {% for post in posts %}
        <div class="card mt-3">
            <h8 class="card-header">{{post.user.username}} さん</h8>
            <div class="card-body">
            <h3 class="card-title">{{post.title}}</h3>
            <p class="card-text">{{post.start_date}} ～ {{post.end_date}}</p>
            <p></p>
            <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">詳細</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h5>フォローしたら投稿が見られます</h5>
    {% endif %}    
{% endfor %}
{% endblock content %}