{% extends 'base.html' %}

{% block content %}

<div class="text-left">
    <h2>{{post.title}}</h2>
    <p>{{post.prefecture}}</p>
    <p>[旅行日]  {{post.start_date}} ～ {{post.end_date}}</p>
    <p>[メモ]  {{post.memo}}</p>
    <p>
        {% for tag in post.tags.all %}
        <span class="badge bg-light text-dark">
            {{tag}}
        </span>
        {% endfor %}
    </p>
    {% for album in album_list %}
    <div class="row mt-3 mb-3">
        {% for Photos in photo_list %}
            {% if album == Photos.0.album %}
                <a href="{% url 'photo-list' album.diary.pk album.pk %}">{{ album.location }}</a>
            {% endif %}
            {% for Photo in Photos %}
                {% if album == Photo.album %}
                    <div class="col-2 d-flex align-items-center">
                        <img src="{{ Photo.photo.url }}" alt="{{ Photo.album }}"  class="border w-100 d-block mx-auto">
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <br>
    </div>
    {% endfor %}
    
  <br>
  {% if user == post.user %}
    <a href="{% url 'diary-detail' post.pk %}">編集</a>
  {% endif %}
</div>


{% endblock %}