{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
<div class="card mt-3">
    <h8 class="card-header">
      <a href="{% url 'userpage' post.user.pk %}" class="link-secondary text-decoration-none">{{post.user.username}} さん</a>
    </h8>
    <div class="card-body">
      <h3 class="card-title">{{post.title}}</h3>
      <p class="card-text">{{post.start_date}} ～ {{post.end_date}}</p>
      <p></p>
      <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">詳細</a>
    </div>
</div>
{% endfor %}

{% include "travel_album/snippets/pagination.html" %}


{% endblock %}